.goods {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.goods__item {
    width: 300px;
    text-align: center;
    box-sizing: border-box;
    margin: 50px 0;
}

.goods__item-photo {
    background: url(../../images/catalog/1.jpg) center center / contain no-repeat;
    height: 300px;
    border: 1px solid grey;
}

.goods__item-name{
    font-weight: bold;
    margin: 10px;
    /* margin-bottom: 10px; */
    font-size: 14px;
}

.goods__item-price {
    margin: 10px;
    font-size: 14px;   
}