.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 400px;
    box-sizing: border-box;
}

.footer-items {
    width: 33.3333%;
    border-right: 2px solid rgb(197, 197, 197);
    padding: 0 20px;
    box-sizing: border-box;
}

.footer-items__h3 {
    text-transform: uppercase;
}

.footer-items__links {
    display: block;
    text-decoration: none;
    color: grey;
    margin: 10px 0;
}

.footer-items_no-border {
    border: none;
}

.social {
    display: flex;
   }
   
.social__item {
    background: url(../../images/icons/logo.jpg) center center / cover no-repeat;
    height: 30px;
    width: 30px;
    margin: 10px;
    margin-left: 0;
}